@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 h-full w-full bg-green-100 font-mono text-[2vh];
  }

  @font-face {
    font-family: "LCD";
    src: url("./src/assets/fonts/digital-7 (mono).ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  table,
  table td,
  table th {
    @apply border-[0.1rem] border-solid border-gray-500;
  }

  .custom-border {
    @apply rounded-[0.35rem] border-[0.15rem] border-solid p-[0.3rem];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
