@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-mono m-0 w-full h-full text-[2vh] bg-green-100;
  }

  @font-face {
    font-family: "LCD";
    src: url("./src/assets/fonts/digital-7 (mono).ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  table,
  table td,
  table th {
    @apply border-solid border-[0.1rem] border-gray-500 p-[0.3rem];
  }

  .custom-border {
    @apply border-solid border-[0.15rem] rounded-[0.35rem] p-[0.3rem];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
