@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-mono m-0 w-full h-full;
  }

  @font-face {
    font-family: "LCD";
    src: url("./src/assets/fonts/digital-7 (mono).ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
